*{
    font-family: serif;
    background-color: ivory;
}

header{
    background-color: #E3E3F2;
    border: 5px solid lightblue;
}

.intro{
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
    background-color: #E3E3F2;
}

.avatar{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 50px;
}

nav{
    background-color: #E3E3F2;
}

.navigation{
   text-align: center;
   margin:50px;
   background-color: #E3E3F2;
}

li{ 
    margin: 20px;
    display: inline;
} 

#work, #aboutMe, #contact{
    background-color: #E3E3F2;
    color: black;
    font-size: 120%;
}

#project{
    margin-top: 50px;
    text-align: center;
    font-size: x-large;
}

.project1 h3{
    margin-top: 75px;
    margin-bottom: 50px;
    text-align: center;
    font-size: larger;
}
 .largeImage{ 
    width: 100%;
    height: 600px;
 } 

 #image1:hover{
    opacity: 0.5;
}

.project2{
    float: left;
    margin-left: 50px;
    margin-top:100px;
    text-align: center;
}

.project2 h3{
    margin-bottom: 75px;
    font-size: larger;
}

#image2:hover{
    opacity: 0.5;
}


.project3{
    float: left;
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.project3 h3{
    margin-bottom: 75px;
    font-size: larger;
}

#image3:hover{
    opacity: 0.5;
}

.project4{
    clear: both;
    text-align: center;
}

.project4 h3{
    margin-bottom: 75px;
}

#image4:hover{
    opacity: 0.5;
}

.details{
    text-align: center;
    margin-top: 100px;
}

#GetToKnowMe{
    margin-bottom: 45px;
    font-size: x-large;
}

.paragraphs{
    border: 5px solid lightblue;
    line-height: 1.6;
}

.socials{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#Contact{
    margin-bottom: 40px;
    font-size: x-large;
}

#github, #gmail, #phone, #linkedin {
    color:black
}

@media screen and (max-width: 768px) {
    header, #image1, #image2, #image3, #image4{
        width: 100%;
    }
    
}


@media screen and (max-width: 576px) {
    header, #image1, #image2, #image3, #image4{
        width:100%;
    }
    
}


#image2, #image3 {
    background-color: rgb(255, 255, 240);
border: solid 5px black;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;


color: rgb(85, 26, 139);
cursor: auto;
display: inline;
font-family: serif;
font-size: 16px;
height: 427px;
line-height: 16px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
vertical-align: baseline;
width: 540px;
}
